
body {
	color: #5e5555;
	font-family: "proxima-nova",arial,sans-serif;
	padding: 0px;
}
.nav-white {
	background-color: white;
	border: none;
	margin-bottom: 0;
}
.navbar-brand-bigger {
	font-size: 22px;
}
.nav-link-bigger {
	font-size: 16px;
}
/*.nav-active {
	border-bottom: 1px solid currentColor;
}*/
h2 {
	font-size: 2em;
	padding-top: 2%;
}
ul  {
 padding-left: 3%;   
}
ul li  {
	list-style-position: outside;
	margin-left: 1em;
}
.subheading {
	font-size: 1.2em;
	padding-top: 1%;
	padding-bottom: 1%;
}
.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    /*max-width: 1200px;  corresponds to max height of 450px */
    margin: 0 auto;
}
.logo-img-list {
	list-style-type: none;
}
.logo-img-li {
	clear: both;
	display: inline;
	width: 30%; 
    height: 100px;
    padding: 3.2%;
}
.logo-img {
	display: inline;
    height: auto; 
    width: auto; 
    max-width: 30%; 
    max-height: 100px;
}
/*carousel transition*/
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}
.carousel-control {
	z-index: 100;
}
