
body {
	color: #5e5555;
	font-family: "proxima-nova",arial,sans-serif;
	padding: 0px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}
.nav-white {
	background-color: white;
	border: none;
	margin-bottom: 0;
}
.navbar-brand-bigger {
	font-size: 40px;
}
.nav-link-bigger {
	font-size: 24px;
}
/*.nav-active {
	border-bottom: 1px solid currentColor;
}*/
h2 {
	font-size: 3em;
	/*padding-top: 2%;*/
  /*color: #7FC147;*/
}
ul  {
 padding-left: 3%;   
}
ul li  {
	list-style-position: outside;
	margin-left: 1em;
}
p {
  font-size: 2em;
}
.subheading {
	font-size: 1.2em;
	padding-top: 1%;
	padding-bottom: 1%;
}
.bg-image {
    position: relative;
}
.bg-image {
    display: block;
    width: 100%;
    /*max-width: 1200px;  corresponds to max height of 450px */
    margin: 0 auto;
}
.logo-img-list {
	list-style-type: none;
}
.logo-img-li {
	clear: both;
	display: inline;
	width: 30%; 
    height: 100px;
    padding: 3.2%;
}
.logo-img {
	display: inline;
    height: auto; 
    width: auto; 
    max-width: 30%; 
    max-height: 100px;
}
/*carousel transition*/
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}
.carousel-control {
	z-index: 100;
}
.img-container{
  /*clear: both;*/
  display: block;
  width: 750px; 
  height: 750px;
  /*margin-bottom: 18px;*/
  /*vertical-align: middle;*/
  margin-left: auto;
    margin-right: auto;
}
.center {
    margin: auto;
    /*width: 60%;*/
    display: block;
    height: auto; 
    width: auto; 
    max-width: 750px; 
    max-height: 750px;
}
.written-paragraph {
  text-indent: 50px;
}
.ss-q-title {
  font-size: 2em;
}
.btn-font {
  font-size: 2em;
}
